body {
  background-color: #002b36; /* base03 */
  color: #839496; /* base0 */
}


#item-area {
  background-color: #002b36; /* base03 */
  color: #839496; /* base0 */
}

/* Styling for every to-do task */
#task {
  border-top: #93a1a1 /* base1 */
}

aside {
  display: none;
  background-color:
}